* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    box-sizing: padding-box;
    list-style-type: none;
    text-decoration: none;
}

#gameWrapper {
    margin: auto;
    min-width: 550px;
    width: 50%;
    height: 550px;
    border: 1px solid #000;
}

#statsMenu {
    display: flex;
    text-align: center;
    width: 100%;
}

#actionStats,
#enemyStats,
#levelStats,
#sp {
    flex: 1;
}

#enemyField {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    margin: 10% auto;
}

#upgWrapper {
    text-align: center;
    position: relative;
}

#upgMenu {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5%;
    width: 50%;
    margin: auto;
    background-color: #000;
    color: #fff;
}

#upgItems {
    display: none;
    flex-direction: column;
    padding: 0;
    position: absolute;
    margin-bottom: 0;
    left: 25%;
}

#upgItems span {
    padding-right: 10px;
}

#upgItems li {
    display: flex;
    padding-bottom: 15px;
    width: 150px;
}

#upgItems button {
    font-size: .75rem;
    width: 100%;
    height: 35px;
    margin-top: 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

#upgItems button {
    cursor: pointer;
}

#restartGame {
    border: 1px solid #f00;
    border-radius: 10px;
    padding: 10%;
    width: 120%;
}

#upgMenu:hover {
    cursor: pointer;
}

#restartGame {
    cursor: pointer;
}